html{
    font-size: 62.5%;
}

body{
    margin: 0;
    font-family: Montserrat;
}

.main-container{
    margin: 0 auto;
}

.header{
    width: 100%;
    height: 75em;
    background-image: url("../assets/hotel1.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background: rgba(20, 39, 74, 0.);
}

.header::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 2;
    width: 100%;
    height: 75em;
    background-color: rgba(0, 0, 0, 0.6);
}

header{
    display: flex;
    justify-content: space-around;
}

.logo {
    height: 3.3em;
    left: 11.09%;
    right: 75.57%;
    top: 0%;
    bottom: 95.41%;
    background: #E0B973;
    padding: 0 0.9em 0.9em;
    font-family: 'Libre Baskerville';
    font-size: 2.0rem;
    z-index: 1;
    border-bottom-left-radius: 0.7em;
    border-bottom-right-radius: 0.7em;
}

.logo a {
    text-decoration: none;
    color: #000;
}

header ul {
    display: flex;
    gap: 4em;
    margin-top: 3em;
   
}

header ul li {
    list-style: none;
    font-size: 2.0rem;
    z-index: 1;
}

header ul li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 500;
    position: relative;
}

.hero-text {
    position: relative;
    margin: 20em;
    z-index: 2;
}

.hero-text p {
    font-size: 2rem;
    max-width: 25em;
    color: #fff;
}

.hero-text-1 {
    font-size: 1.5rem;
}

.hero-text h1 {
    font-family: 'Libre Baskerville';
    font-size: 5rem;
    color: #fff;
    margin: 0.06em 0;
}

.cta-bnw{
    position: relative;
    margin: 0 auto;
    top: -9em;
    display: block;
    width: 9em;
    padding: 1.2em;
    background-color: #E0B973;
    border-radius: 0.5em;
}

.cta-bnw a {
    position: relative;
    font-size: 1.4rem;
    font-weight: 800;
    color: white;
    text-decoration: none;
    text-align: center;
    margin-left: 1em;
}

.scroll {
    position: relative;
    text-align: center;
    top: -2em;
}

.scroll i {
    color: #fff;
}

.main {
    margin: 6em;
}

.main p {
    text-align: center;
    font-size: 2rem;
}

.section-container {
    display: flex;
    margin: 9em;
}

.section-container-item-1 {
    margin: 5em;
}

.section-container-item-1 h1 {
    font-family: 'Libre Baskerville';
    font-size: 3rem;
    font-weight: 800;
    color: #14274A;
    margin-left: 1.5em;
}

.section-container-item-1 p {
    max-width: 20em;
    margin-right: 5em;
    text-align: justify;
    line-height: 1.6em;
    border-left: 2px solid black;
    padding-left: 2em;
}

.section-container-item-2 img {
    max-width: 60em;
    border-radius: 5em;
}

.section-2 {
    display: flex;
    margin: 9em;
}

.section-2 img {
    max-width: 60em;
    border-radius: 5em;
}

.section-2-item-2 {
    margin-left: 20em;
    justify-content: right;

}

.section-2-item-2 h1 {
    font-family: 'Libre Baskerville';
    font-size: 3rem;
    font-weight: 800;
    color: #14274A;
}

.section-2-item-2 p {
    max-width: 30em;
    text-align: left;
    text-align: justify;
    line-height: 1.6em;
    border-right: 2px solid black;
    padding-right: 3em;
}

.explore {
    background-color: #E0B973;
    padding: 1.1em 2em;
    margin-top: 1.2em;
    border-radius: 0.5em;
    font-weight: 800;
    font-family: monospace;
    color: white;
    border: none;
    cursor: pointer;
}
#explore {
    margin-left: 3em;
}

.testimonial {
    text-align: center;
    margin: 10em;
    margin-left: 30em;
}

.testimonial h1 {
    font-family: 'Libre Baskerville';
    text-transform: capitalize;
    font-size: 3rem;
}

.testimonial p {
    font-size: 1.5rem;
}

.testimonial i {
    margin-top: 1em;
    margin-right: 0.5em;
}

footer {
    width: 100%;
    height: 20em;
    background-color: #14274A;
    display: flex;
    justify-content: space-around;
    color: #fff;
}

footer>div {
    margin-top: 2.7em;
}

.footer-content-1 h2 {
    font-family: 'Libre Baskerville';
    font-size: 2.3rem;
}

.footer-content-1 p {
    margin-top: -0.5em;
    font-size: 1.3rem;
    line-height: 2.3rem;
}

.footer-content-2 ul, .footer-content-3 ul {
    list-style: none;
    line-height: 2rem;
    margin-top: 2.7em;
}

.footer-content-2 ul li,  .footer-content-3 ul li {
    font-size: 1.3rem;
    margin-top: 1.1rem;
}

.footer-content-4{
    margin-top: 5em;
}

.footer-content-4 p {
    font-weight: bold;
    font-size: 1.3rem;
}

.email-container {
    display: flex;
    background-color: #E0B973;
    border-radius: 0.8em;
    padding: 0.2em;
    width: 25em;
}

input {
    position: inherit;
    background-color: #14274A;
    border-radius: 0.6em;
    padding: 0.3em 1em;
    height: 2.3em;
    color: #fff;
    border: none;
}

.email-container>p {
    margin: auto;
    color: #14274A;
    font-weight: 900;
}

.email-container>p a{
    color: #14274A;
    text-decoration: none;
    font-size: 1.3rem;
}